webservice/JaxwsServiceConsumerProxy/resources/service.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://provider/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LoginIntfService" targetNamespace="http://provider/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://provider/" elementFormDefault="unqualified" targetNamespace="http://provider/" version="1.0">

  <xs:element name="verify" type="tns:verify"/>

  <xs:element name="verifyResponse" type="tns:verifyResponse"/>

  <xs:complexType name="verify">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:loginRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element name="userType" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="verifyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:loginResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="authroized" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="verifyResponse">
    <wsdl:part element="tns:verifyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verify">
    <wsdl:part element="tns:verify" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoginIntf">
    <wsdl:operation name="verify">
      <wsdl:input message="tns:verify" name="verify">
    </wsdl:input>
      <wsdl:output message="tns:verifyResponse" name="verifyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginIntfServiceSoapBinding" type="tns:LoginIntf">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="verify">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="verify">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginIntfService">
    <wsdl:port binding="tns:LoginIntfServiceSoapBinding" name="LoginIntfPort">
      <soap12:address location="http://localhost:8081/service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>